.footer
	margin: 100px 0 0
	padding: 0 0 20px

	&__wrap
		display: flex
		justify-content: space-between

		&:after
			content: ""

	&__center
		display: flex
		align-items: center

.f-links

	&:not(:last-child)
		margin-right: 60px

	li

		&:not(:first-child)
			margin: 5px 0 0

.f-menu

	&__list

		li
			display: inline-block

			&:not(:last-child)
				margin-right: 18px

.f-apps
	display: fex

	&__link

		&:not(:last-child)
			margin-right: 30px