.sidebar

	&__buyer, &__cart
		background: #effcf5
		border-radius: 15px
		padding: 20px 30px

		&:not(:first-child)
			margin: 32px 0 0

.side-title
	font-size: 16px

.buyer, .side-cart
	
	&__title
		margin-bottom: 10px

.buyer-list

	li

		&:not(:first-child)
			margin: 5px 0 0

	a
		border-bottom: 1px solid currentColor