.title-block
	display: flex
	justify-content: space-between
	flex-wrap: wrap

	&__title
		margin-right: 20px

		h1
			font-weight: bold
			font-size: 40px
			line-height: normal

.title-menu
	display: flex

	li

		&:not(:last-child)
			margin-right: 22px