@import "../css/common.css"

@import "_vars.sss"
@import "_base.sss"
@import "_text-styles.sss"

@import "_header.sss"


@import "_top-links.sss"
@import "_main-section.sss"
@import "_main-links.sss"

@import "_catalog.sss"
@import "_seo-text.sss"

@import "_footer.sss"

.main-content
	margin: 120px 0 0