footer.footer
	.wrapper
		.footer__wrap
			.footer__left
				.copy
					p &copy; 2007—2019  ООО «Юкон-фарм» г. Челябинск
					p 
						a(href="#") Лицензия ФС-99-02-006064 
						| от 01 августа 2017 г.
				nav.f-menu
					ul.f-menu__list
						li
							a(href="#") О компании
						li
							a(href="#") Контакты
						li
							a(href="#") Вакансии
						li
							a(href="#") Реклама на сайте
			.footer__center
				ul.f-links
					li
						a.f-links__link(href="#") Покупателю
					li
						a.f-links__link(href="#") Обратная связь
				.f-apps
					a.f-apps__link(href="#")
						img(src="img/photos/publication-android-small.png")
					a.f-apps__link(href="#")
						img(src="img/photos/2806.small.png")